.Controlbar {
    position: absolute;
    z-index: 101;
    display: flex;
    align-content: flex-start;
    align-items: center;
    left: 20px;
    bottom: 20px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 6px;
    overflow: hidden;
}

.Controlbar .buttons {
    display: flex;
    align-content: flex-start;
    background-color: #666;
    
}

.Controlbar .buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #666;
    border: .5px solid #444;
    user-select: none;
    font-size: 24px;
}
.Controlbar .buttons button.selected {
    background-color: #444;
    border: 1px solid #484848;
    cursor: default;
}

.Controlbar .buttons button > img {
    display: block;
    height: 80%;
}

.Controlbar .buttons .loop {
    opacity: 0.4;
}
.Controlbar .buttons .loop.do-loop {
    opacity: 1.0;
}


.Controlbar .timebar {
    position: relative;
    margin: 0 4px;
    background: #bbb;
    height: 30px;
    width: 400px;
}

.Controlbar .timebar .handle {
    position: absolute;
    pointer-events: none;
    top: -4px;
    left: 0;
    background: #aaa;
    opacity: 0.9;
    height: 38px;
    width: 4px;
}