.Aircraft {
    position: absolute;
    width: 32px;
    height: 32px;
    user-select: none;
    /* transform-origin: -50% -50%; */
}


.Aircraft .graphics-container {
    width: 100%;
    height: 100%;
    user-select: none;
    /* transform-origin: -50% -50%; */
}

.Aircraft .aircraft-image {
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    user-select: none;
}

.Aircraft p {
    font-size: 10px;
}