.Aircraft {
    position: absolute;
    user-select: none;
    /* transform-origin: -50% -50%; */
}

.Aircraft.is-static {
    z-index: 1;
}

.Aircraft.is-ground-mover {
    z-index: 2;
}

.Aircraft.is-weapon {
    z-index: 3;
}

.Aircraft.is-helicopter {
    z-index: 4;
}

.Aircraft.is-aircraft {
    z-index: 5;
}

.Aircraft .path {
    position: absolute;
}

.Aircraft .path svg {
    fill: none;
    stroke: #999;
    stroke-width: 5;
    stroke-opacity: 0.12;
}

.Aircraft .primary-container {
    position: absolute;
    width: 32px;
    height: 32px;
    user-select: none;
}

.Aircraft .graphics-container {
    width: 100%;
    height: 100%;
    user-select: none;
    /* transform-origin: -50% -50%; */
}

.Aircraft .aircraft-image {
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    user-select: none;
}

.Aircraft .inactive .aircraft-image {
    opacity: 0.5;
}
.Aircraft .ghost .aircraft-image {
    opacity: 0.2;
}

.Aircraft .invisible {
    opacity: 0;
}

.Aircraft p {
    font-size: 10px;
}