.Toolbar {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 30px;
    width: 100px;
    border: 1px solid #333;
}

.Toolbar .buttons {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #666;
    width: 100%;
    min-height: 600px;
}

.Toolbar .buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    appearance: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #666;
    border: .5px solid #444;
    user-select: none;
}
.Toolbar .buttons button.selected {
    background-color: #444;
    border: 1px solid #484848;
    cursor: default;
}

.Toolbar .buttons button > img {
    display: block;
    height: 70%;
    flex-shrink: 0;
}

.Toolbar .buttons button > p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 8px;
    text-shadow: 0 0 2px black;
    text-transform: capitalize;
}